{% extends "polls/base.html" %}
    
{% block content%}
<h1 class="title is-3">Sistema de Puntuación</h1>
<ul>
    <p>Predecir el campeón:<strong> 10 puntos</strong>.</p>
    <li><strong>Serie de Comodines:</strong>
      <ul>
        <li>Acertar ganador: <strong> 3 puntos</strong>.</li>
        <li>Resultado exacto: <strong> 2 puntos extra</strong>.</li>
      </ul>
    </li>
    
    <li><strong>Serie Divisional:</strong>
        <ul>
            <li>Acertar ganador: <strong>5 puntos</strong>.</li>
            <li>Resultado exacto:<strong> 3 puntos extra</strong>.</li>
          </ul>
    </li>
    
    <li><strong>Serie de Campeonato:</strong>
        <ul>
            <li>Acertar ganador: <strong>7 puntos</strong>.</li>
            <li>Resultado exacto:<strong> 4 puntos extra</strong>.</li>
          </ul>
    </li>
    
    <li><strong>Serie Mundial:</strong>
      <ul>
          <li>Acertar ganador: <strong>10 puntos</strong>.</li>
          <li>Resultado exacto:<strong> 5 puntos extra</strong>.</li>
        </ul>
  </li>
  </ul>
{% endblock %}