{% extends "polls/base.html" %}
    
{% block content%}
<h1 class="title is-3">Sistema de Puntuación</h1>
<ul>
    <p>Predecir el campeón:<strong> 100 puntos</strong>.</p>
    <li><strong>Primera Ronda:</strong>
      <ul>
        <li>Acertar ganador: <strong> 10 puntos</strong>.</li>
        <li>Resultado exacto: <strong> 20 puntos extra</strong>.</li>
      </ul>
    </li>
    
    <li><strong>Segunda Ronda:</strong>
        <ul>
            <li>Acertar ganador: <strong>20 puntos</strong>.</li>
            <li>Resultado exacto:<strong> 30 puntos extra</strong>.</li>
          </ul>
    </li>
    
    <li><strong>Finales de Conferencia:</strong>
        <ul>
            <li>Acertar ganador: <strong>30 puntos</strong>.</li>
            <li>Resultado exacto:<strong> 40 puntos extra</strong>.</li>
          </ul>
    </li>
    
    <li><strong>Finales de la NBA:</strong>
        <ul>
            <li>Acertar ganador: <strong>40 puntos</strong>.</li>
            <li>Resultado exacto:<strong> 50 puntos extra</strong>.</li>
          </ul>
    </li>
  </ul>
{% endblock %}